.aboutme {
  height: 100vh;
  animation: smoothshow 0.7s ease-in;
  padding: 130px 0 60px 0;
  @include mq(0, 767px) {
    overflow: scroll;
  }
  .container {
    height: 100%;
    @include mq(0, 767px) {
      height: unset;
    }
    .content {
      border: 2px solid var(--font-color3);
      border-radius: 20px;
      background-color: var(--primary-color-alpha);
      @include mq(0, 767px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .row {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        @include mq(0, 1010px) {
          // overflow: scroll;
          flex-direction: column-reverse;
        }
        .aboutme-content {
          padding-left: 30px;
          padding-right: 30px;
          // width: 50%;
          color: var(--font-color);
          text-align: center;
          @include mq(0, 1010px) {
            width: 100%;
          }
          h1 {
            font-size: 3rem;
            margin-bottom: 30px;
            @include mq(0, 1010px) {
              display: none;
            }
          }
          h2 {
            font-size: 1.5rem;
            margin-bottom: 30px;
          }
          .skillstitle {
            margin: 40px 0;
            text-align: center;
          }
        }
        .skills {
          margin-top: 40px;
          display: flex;
          flex-direction: row;
          align-items: end;
          justify-content: space-around;
          @include mq(0, 580px) {
            flex-direction: column;
            align-items: center;
          }
          .col-sm {
            display: inline-block;
          }
          .skills-content {
            flex-direction: row;
            .col-sm {
              margin-right: 10px;
              .tool {
                text-align: start;
                display: flex;
                flex-direction: row;
                gap: 2px;
                margin-bottom: 2px;
                min-width: 100px;
              }
              .levels {
                display: flex;
                flex-direction: row;
                gap: 5px;
                margin-bottom: 5px;
                .square1 {
                  width: 13px;
                  height: 13px;
                  background-color: #dee6ef;
                }
                .square2 {
                  @extend .square1;
                  background-color: #b4c7dc;
                }
                .square3 {
                  @extend .square1;
                  background-color: #729fcf;
                }
                .square4 {
                  @extend .square1;
                  background-color: #3465a4;
                }
                .square5 {
                  @extend .square1;
                  background-color: #355269;
                }
                .inactive {
                  background-color: #242424 !important;
                }
              }
            }
          }
        }
        .photo {
          padding-left: 30px;
          padding-right: 30px;
          @include mq(0, 1010px) {
            // width: 90%;
            margin-bottom: 40px;
          }
          @include mq(0, 580px) {
            width: 100%;
          }
          h1 {
            font-size: 3rem;
            margin-bottom: 30px;
            color: #fff;
            text-align: center;
            display: none;
            @include mq(0, 1010px) {
              display: block;
            }
          }
          img {
            border-radius: 30px;

            @include mq(0, 767px) {
              max-height: 300px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
